__pycache__/
__pycache__/inverse_map.cpython-37.pyc
__pycache__/PSIGLL.cpython-37.pyc
.ipynb_checkpoints/SIGLE-checkpoint.ipynb
states_p_10_lambda_3_alternative_1e-1.npy
states_p10_lambda3.npy
states_p_10_lambda_3_alternative_1e-3.npy
