__pycache__
.ipynb_checkpoints
states_p_10_lambda_3_alternative_1e-1.npy
states_p10_lambda3.npy
states_p_10_lambda_3_alternative_1e-3.npy


*.html
*pyc

build


# generated doc
docs/_build/
docs/auto_examples/
docs/source/generated